body {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.container {
  background-color: hsl(0, 0%, 12%);
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

.image-container {
  width: 100%;
  padding: 2rem 0;
}

.image-container > img {
  width: 30%;
  border-radius: 50%;
}

.user-name {
  font-size: 24px;
  font-weight: 700;
}

.user-location {
  color: hsl(75, 94%, 57%);
}

.user-profession,
.user-location {
  padding: 1rem;
}

.buttons {
  display: grid;
}

.btn,
.user-location {
  font-weight: 600;
}

.btn {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: hsl(75, 94%, 57%);
  a {
    color: hsl(0, 0%, 8%);
  }
}

.btn:hover,
.btn:focus {
  a:active {
    color: hsl(0, 0%, 37%);
  }
}

a:link,
a:visited {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

footer {
  padding: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:active {
  color: hsl(228, 63%, 63%);
}
